# Visual Studio Code Configuration Files
.vscode/

# Visual Studio Configuration Files
.vs/
*.dll.config
*.exe.config
*.vcxproj.user
*.tlog

# Python
*.pyc

# LoopbackCapture Build Output Folder
/bin
/obj

# Binaries
*.lib
*.pdb
*.exe
